.crear{
    font-size: 15px; /* Ajusta el tamaño del texto según tus preferencias */
    /*margin-left: 300px;
    margin-top: 800px; */
  }

  /* eventList.css */

  .btn-editar {
    background-color: #f2b705; 
    color: #fff; /* Color del texto blanco */
  }
  
  /* Clase para el botón de Eliminar */
  .btn-eliminar {
    background-color: #d92323; /* Color rojo */
    color: #fff; /* Color del texto blanco */
  }
  .centrado {
    text-align: center;
  }
  
table {
	/*background-color: white;*/
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	padding: 10px;
    
}

thead {
	background-color: #0F5FA6;
	border-bottom: solid 7px #ffffff;
	/*color: white;*/
}

tbody tr {
	border-bottom: solid 7px #ffffff;
	background-color: #ddd;
}

 