.crear{
    font-size: 15px; /* Ajusta el tamaño del texto según tus preferencias */
    margin-left: 300px;
    margin-top: 800px;
  }

  /* eventList.css */

  .btn-editar {
    background-color: #f2b705; 
    color: #fff; /* Color del texto blanco */
  }
  
  /* Clase para el botón de Eliminar */
  .btn-eliminar {
    background-color: #d92323; /* Color rojo */
    color: #fff; /* Color del texto blanco */
  }
  .centrado {
    text-align: center;
  }

 