.card-translucent {
	background-color: rgba(221, 221, 221, 0.301);

}

.card-header {
	background-color: #0f5fa6
}

.event-info-text {
	font-size: 20px;
}

.card-footer {
	background-color: white;
	border-radius: 50%;
	box-shadow: 11px 10px 31px -1px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 11px 10px 31px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 11px 10px 31px -1px rgba(0, 0, 0, 0.75);
}

.boton-ver {
	background-color: #0f5fa6;
	border-color: #0f5fa6;
}

.img {
	border-radius: 10px;
}

.boton-atras {
	background-color: #d92323;
	border-color: #d92323;
}

.boton-atras {
	display: inline-block;
	padding: 1px 28px;
	margin: 10px;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	background-image: linear-gradient(to bottom right, #d92323, #d92323);
	border: none;
	border-radius: 10px;
	box-shadow: 0px 4px 0px #aa1b1b;
	transition: all 0.2s ease-in-out;
}

.boton-atras:hover {
	transform: translateY(-2px);
	box-shadow: 0px 6px 0px #d92323;
}

.boton-atras:active {
	transform: translateY(0px);
	box-shadow: none;
	background-image: linear-gradient(to bottom right, #d92323, #d92323);
}

.boton-atras:before,
.boton-atras:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
}


.boton-atras:before {
	top: -3px;
	left: -3px;
	border-radius: 40px;
	border-top: 3px solid #fff;
	border-left: 3px solid #fff;
}

.boton-atras:after {
	bottom: -3px;
	right: -3px;
	border-radius: 40px;
	border-bottom: 3px solid #fff;
	border-right: 3px solid #fff;
}

.boton-ver {
	display: inline-block;
	padding: 1px 28px;
	margin: 10px;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	background-image: linear-gradient(to bottom right, #0f5fa6, #0f5fa6);
	border: none;
	border-radius: 10px;
	box-shadow: 0px 4px 0px #0f5fa6;
	transition: all 0.2s ease-in-out;
}

.boton-ver:hover {
	transform: translateY(-2px);
	box-shadow: 0px 6px 0px#0f5fa6;
}

.boton-ver:active {
	transform: translateY(0px);
	box-shadow: none;
	background-image: linear-gradient(to bottom right, #0f5fa6, #083c69);
}

.boton-ver:before,
.boton-ver:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
}

.boton-ver:before {
	top: -3px;
	left: -3px;
	border-radius: 40px;
	border-top: 3px solid #fff;
	border-left: 3px solid #fff;
}

.boton-ver:after {
	bottom: -3px;
	right: -3px;
	border-radius: 40px;
	border-bottom: 3px solid #fff;
	border-right: 3px solid #fff;
}

.card-translucent .card-header {
	color: white;
}


.event-info-text.left {
	text-align: left;
	font-size: 20px;
	max-width: 290px;
	max-height: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.event-container {
	max-width: 100%;
	display: flex;
	overflow-x: hidden;
	padding: 24px;
	scroll-snap-type: x mandatory;
	scroll-padding-top: 24px;
	border-radius: 8px;
	gap: 20px;
}

.event-container .card {
	height: 100px;
	overflow: hidden;
	border-radius: 8px;
	scroll-snap-align: start;
}

.image-container {
	position: relative;
	width: 300px;
	box-shadow: 11px 10px 31px -1px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 11px 10px 31px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 11px 10px 31px -1px rgba(0, 0, 0, 0.75);
	overflow: hidden;

}

.test {
	color: #ffffff;
	text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
	position: absolute;
	text-align: left;
	top: 5px;
	left: 10px;
	font-size: 25px;
	max-width: 290px;
	max-height: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.scroll-buttons {
	position: fixed;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -10%);
	display: flex;
	justify-content: space-between;
	width: 98%
}

.scroll-buttons button {
	background: transparent;
	border: none;
	padding: 0;
	font-size: 50px;
	color: #979393;
}

.scroll-buttons button:active {
	color: #000000;
}

#tipoEvento {
	width: 200px;
	margin: 0;
}

#tipoEvento option {
	color: #333;
}

