.navbar {
    background-color: #0F5FA6;
    box-shadow: -5px 19px 17px -4px rgba(0,0,0,0.57);
    -webkit-box-shadow: -5px 19px 17px -4px rgba(0,0,0,0.57);
    -moz-box-shadow: -5px 19px 17px -4px rgba(0,0,0,0.57);
    box-shadow: -4px 19px 30px -2px rgba(0,0,0,0.74) inset;
    -webkit-box-shadow: -4px 19px 30px -2px rgba(0,0,0,0.74) inset;
    -moz-box-shadow: -4px 19px 30px -2px rgba(0,0,0,0.74) inset;
    margin-top: 10px;
}

   .navbar-brand,
   .navbar-nav .nav-link  {
       color: white; /* Cambia el color del texto a blanco */
       font-size: 20px;
   }
   

   .ml-auto {
    color: white;
}

.UMSS, .ICPC {
    max-height: 90px; /* Ajusta el valor según tus necesidades */
    max-width: 90px; /* Ajusta el valor según tus necesidades */
    object-fit: contain; /* Ajusta la propiedad de ajuste del objeto según tus necesidades */
  }