.btn-save {
    background-color: #f2b705;
    color: #fff;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cancel {
    background-color: #d92323;
    color: #fff;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}